* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: unset;
}

.underline {
  text-decoration: underline;
}

header {
  position: relative;
  background: #444;
  font-family: "Oswald";
  color: #ffffff;
}
header:after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background: #8acc26;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  width: 150px;
  display: flex;
  flex-direction: column;
}
header .logo a span {
  text-align: right;
}
header .logo a .logo__heading {
  margin-bottom: -7px;
}
header .menu {
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  padding: 2px 2px;
  justify-content: center;
  align-items: center;
  background: #333;
  display: flex;
  list-style: none;
  border: 1px solid rgb(48, 48, 48);
}
header .menu li {
  margin-right: 1px;
  padding: 5px 25px;
  position: relative;
  background: #222;
  cursor: pointer;
}
header .menu li a {
  transition: 0.3s all;
}
header .menu li:hover a {
  color: #8acc26;
}
header .menu li:first-child {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
header .menu li:last-child {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

main {
  background: #555;
}
main .container {
  font-family: "Source Sans Pro";
  display: flex;
  gap: 20px;
}
main .container .main-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container .main-article .main-article__heading {
  color: #ffffff;
  font-size: 40px;
}
main .container .main-article .main-article__text {
  color: rgba(255, 255, 255, 0.7);
}
main .container .main-article .main-article__btn {
  width: fit-content;
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-weight: 600;
  padding: 5px 25px;
  background: #8acc26;
  border-radius: 10px;
  color: black;
  transition: 0.3s all;
}
main .container .main-article .main-article__btn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
main .container .main-image {
  -webkit-box-shadow: 130px -115px 10px -120px #000000;
  height: 300px;
  border: 10px solid;
  border-image: linear-gradient(315deg, #c4c4c4 0%, #f5f7fa 74%);
  border-image-slice: 1;
  width: 100%;
  flex: 1;
}
main .container .main-image img {
  height: 100%;
  object-fit: cover;
}

.news .container {
  font-family: "Source Sans Pro";
  display: flex;
  justify-content: space-between;
}
.news .container .line {
  background: #8acc26;
  height: 3px;
  position: relative;
  margin: 10px 0;
  width: 100%;
}
.news .container .line::after {
  display: block;
  position: absolute;
  top: 2px;
  content: "";
  width: 150px;
  height: 6px;
  background: greenyellow;
}
.news .container .news-feature {
  width: 50%;
}
.news .container .news-feature__text {
  margin: 10px 0;
}
.news .container .news-feature__subtext {
  margin: 10px 0;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}
.news .container .news-feature__subtext:last-child {
  padding-left: 30px;
}
.news .container .news-feature__subtext:last-child:before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 10px;
  background: #8acc26;
  left: -5px;
}
.news .container .news-feature__menu {
  list-style-type: square;
  padding: 30px;
}
.news .container .latest-news {
  font-family: "Source Sans Pro";
  width: 45%;
}
.news .container .latest-news .latest__heading {
  color: #ffffff;
  padding: 15px;
  background: #555;
  width: 100%;
}
.news .container .latest-news .latest-news-articles {
  background: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.news .container .latest-news .latest-news-articles .grayed {
  background: rgb(190, 190, 190);
}
.news .container .latest-news .latest-news-articles .latest-news-article {
  padding: 25px;
  display: flex;
  gap: 10px;
}
.news .container .latest-news .latest-news-articles .latest-news-article .latest-news-text {
  width: 70%;
}
.news .container .latest-news .latest-news-articles .latest-news-article .latest-news__date {
  color: rgba(0, 0, 0, 0.7);
}
.news .container .latest-news .latest-news-articles .latest-news-article .latest-news-image a {
  display: flex;
  height: 110px;
  border: 1px solid rgba(71, 71, 71, 0.7);
}
.news .container .latest-news .latest-news-articles .latest-news-article .latest-news-image a img {
  width: 100%;
  object-fit: cover;
  border: 3px solid #ffffff;
}

footer {
  background-color: #333;
  font-family: "Source Sans Pro";
}
footer::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background: #8acc26;
}
footer .container {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
}
footer .container .footer-menu-container {
  display: flex;
  justify-content: space-between;
}
footer .container .menu__heading {
  color: #ffffff;
  padding: 2px 20px;
  background: #222;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid rgba(90, 90, 90, 0.7);
}
footer .container .footer-menu {
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
}
footer .container .footer-menu li {
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 5px;
}

/*# sourceMappingURL=main.css.map */
