* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
a {
  text-decoration: none;
  color: unset;
}
.underline {
  text-decoration: underline;
}
